* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}


.calc{
	background-color: aqua;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	margin: auto;
	padding: 32px;
	border-radius: 5%;
	text-align: center;
}

.input {
	font-size: 3em;
	background-color:aliceblue;
	height: 70px;
	padding: 13px;
	border-radius: 5px;
	width: 70%;
}

.buttons {
	display: grid;
	grid-template-columns:100px 100px 100px;
	margin: 15px;
	grid-column-gap: 30px;
}

.buttons button {
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 4%;
	border-radius: 12px;
	margin-bottom: 57%;
	font-size: 3em;
	font-weight: bold;
}

