/* modile first */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

#calc-wrapper {
	margin: auto;
	background-color: aquamarine;
	height: auto;
	padding: 6px;
	border-radius: 5%;
}



.input {
	width: 80%;
	border: none;
	padding: 3%;
    border-radius: 5px;
}



.buttons button {
	text-decoration: none;
	text-align: center;
	border: none;
	display: inline;
	padding: 10%;
	border-radius: 12px;
	width: fit-content;
	margin: 2%;
}


@media only screen  and (min-width:224px){

    #calc-wrapper {
	background-color: blueviolet;
	width: 60%;
}

    .buttons {
	display: grid;
	grid-template-columns: auto auto auto;
}


}

@media only screen and (min-width:600px){
    #calc-wrapper{
        background-color: cadetblue;
        width: 70%;
    }

    .buttons button{
        font-size: 3em;
    }
}
