* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


.calc {
	background-color: aqua;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: auto;
	margin: auto;
	padding: 32px;
	border-radius: 5%;
	text-align: center;
}

.input {
	background-color: aliceblue;
	width: 80%;
	height: auto;
}



.buttons button {
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 4%;
	border-radius: 12px;
	margin-bottom: 57%;
	font-size: 3em;
	font-weight: bold;
}
